<h3>Questions</h3>
<div *ngIf="questions.length > 0" class="table-responsive">
  <table class="questions table table-hover">
    <thead>
      <tr>
        <th>Text</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions">
        <td>{{question.Text}}</td>
        <td class="commands btn-group-vertical">
          <button type="button" class="btn btn-sm btn-warning" (click)="onEdit(question)">Edit
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button type="button" class="btn btn-sm btn-danger" (click)="onDelete(question)">Delete
              <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="questions.length == 0">
  This quiz has no questions (yet):
  click the <strong>Add a new Question</strong> button to add the first one!
</div>
<button (click)="onCreate()" class="btn btn-sm btn-default">
  <span class="glyphicon glyphicon-plus-sign"></span>
  Add a new Question
</button>
