<div class="container-fluid">
  <div class="row">
    <nav class="navbar header-content">
      <div class="container-fluid">
        <div class="navbar-header">
          <a [routerLink]="['/home']"><img src="http://www.testmakerfree.com/dist/res/img/logo.svg" alt="logo"></a>
        </div>
        <app-quiz-search class="search-header" placeholder="Search for a quiz..."></app-quiz-search>
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <br>
      <br>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
